<div class="form-container">
  <form [formGroup]="editPlaceForm" (click)="submit()" class="form-places">
    <mat-form-field>
      <input
      formControlName="name" 
      required 
      matInput
      placeholder="Nombre" />
    </mat-form-field>

    <mat-form-field>
      <textarea 
      formControlName="description"
      required matInput placeholder="Description"></textarea>
    </mat-form-field>

    <mat-form-field>
      <input 
      formControlName="image"
      required matInput placeholder="Imagen" />
    </mat-form-field>

    <mat-form-field>
      <textarea
      formControlName="location"
       required matInput placeholder="Dirección"></textarea>
    </mat-form-field>

    <mat-form-field>
      <input
      formControlName="lat"
      required matInput placeholder="Latitud" />
    </mat-form-field>

    <mat-form-field>
      <input 
      formControlName="lon"
      required matInput placeholder="Longitud" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Municipios</mat-label>
      <mat-select formControlName="municipality">
        <mat-option>HOlis</mat-option>
        <!-- <mat-option *ngFor="let food of foods" [value]="food.value">
          {{food.viewValue}}
        </mat-option> -->
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Categoria</mat-label>
      <mat-select formControlName="category">
          <mat-option>HOlis</mat-option>
        <!-- <mat-option *ngFor="let food of foods" [value]="food.value">
            {{food.viewValue}}
          </mat-option> -->
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input
      formControlName="website"
       required matInput placeholder="Sitio web" />
    </mat-form-field>

    <mat-form-field>
      <input
      formControlName="tel"
       required matInput placeholder="Telefono" />
    </mat-form-field>
  </form>
</div>
