<mat-card>
  <div class="container">
    <h3>Mantenimiento de Categorias</h3>
    <i class="material-icons">list_alt</i>
    <mat-nav-list role="navigation">
        <a (click)="goToCategories()" mat-list-item>
          Ver lista de Categorias
        </a>
        <a (click)="goToAddCat()" mat-list-item>
          Agregar nueva categoria
        </a>
      </mat-nav-list>
  </div>
</mat-card>

<mat-card>
  <div class="container">
    <h3>Mantenimiento de Lugares turísticos</h3>
    <i class="material-icons">location_on</i>
    <mat-nav-list role="navigation">
      <a (click)="goToPlaces()" mat-list-item>
        Ver lista de lugares
      </a>
      <a (click)="goToAddPlace()" mat-list-item>
        Agregar nuevo lugar
      </a>
    </mat-nav-list>
  </div>
</mat-card>
