@import "~src/mixins";

.mat-card {
  display: flex;
  width: 100%;
  flex-flow: column;
  align-items: center;
  padding: 50px;
  @include sm {
    width: fit-content;
  } 

  form {
    display: flex;
    flex-flow: column;
  }
}

.login {
  background: #3E51B5;
  display: flex;
  flex-flow: column;
  height: 100vh;
  justify-items: center;
  align-items: center;
  justify-content: center;
}