/* This File can be used to add global variables */

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 425px;

// Small tablets (portrait view) and latops
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Super Large desktops
$screen-xxl-min: 1600px;
