<h1>Listado de Categorias</h1>
<div class="categories-list" *ngIf="!isLoading; else loading">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="idCateg" sticky>
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let element">{{ element.idCateg }}</td>
      </ng-container>

      <ng-container matColumnDef="nombre" sticky>
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
      </ng-container>

      <ng-container matColumnDef="actions" sticky>
        <th mat-header-cell *matHeaderCellDef>
          <button color="primary" (click)="addCategory()" mat-stroked-button>
            <i class="material-icons">
              add_circle_outline
            </i>
          </button>
        </th>
        <td mat-cell *matCellDef="let element">
          <button color="primary" (click)="editCategory(element)" mat-stroked-button>
            <i class="material-icons">
              border_color
            </i>
          </button>
          <button color="accent" (click)="deleteCategory(element.idCateg)" mat-stroked-button>
            <i class="material-icons">
              delete
            </i>
          </button>
        </td>
      </ng-container>
      
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  <ng-container *ngIf="dataSource.data.length === 0">
    <mat-card>No hay datos por el momento</mat-card>
  </ng-container>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

<ng-template #loading>
  <mat-spinner color="accent"></mat-spinner>
</ng-template>
